.loginContainer{
   display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}
.loginBox{
    background: white;
    padding: 2rem;
    border-radius: var(--radius);
    box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
    width: 80%;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
