.testContainer{
    padding: 20px;
    color: #333;
    display: flex;
    flex-direction: column;
}

.testCard{
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
}

.testCard label{
    margin: 0 10px;
}