.modalOverlay{
    position: fixed;
    top: 0;
    left: 0;
    width: var(--width-complete);
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContent{
    background: var(--gris-bg);
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.modalContent li{
    list-style: none;
}
.modalButtons{
    display: flex;
    justify-content: space-between;
    margin: 2rem 0 0 0;
}
.estadoContainer{
    gap: 2rem;
}
.inputContainer{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.inputGroup{
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    width: var(--width-complete);
}
.testCheckbox{
    display: flex;
    align-items: center;
    gap: 0.2rem;
}
.testCheckbox > *{
    margin: 0;
}

.testsGrid{
    display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}