.container {
  color: var(--font-color);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
}

.tablaPacientes {
  background: white;
  border-radius: var(--radius);
  border: 1px solid #eef1f6;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.06);
  width: var(--width-complete);
}

.tablaPacientes table {
  width: var(--width-complete);
  border-collapse: collapse;
  font-size: 14px;
  height: auto;
  min-height: auto;
}

.tablaPacientes tbody tr {
  height: 2rem;
}

.tablaPacientes thead,
.tablaPacientes thead th {
  color: white;
  font-weight: 600;
  padding: 12px;
  text-align: center;
  position: sticky;
  top: 0;
}
.tablaPacientes th {
  line-height: 1.2;
}

.tablaPacientes thead tr {
  height: 48px;
}

.tablaPacientes th,
.tablaPacientes td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #f1f1f1;
}
.tablaPacientes td {
  height: 40px;
  vertical-align: middle;
  border-bottom: 1px solid #eef1f6;
}

.tablaPacientes tbody tr {
  height: 50px;
}

.layout {
  width: var(--width-complete);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 100%;
}
.layout p {
  font-weight: var(--font-light);
}

.tablaPacientes td > * {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.tablaPacientes td {
  padding: 12px;
  text-align: center;
  vertical-align: middle;
  color: #333;
}