.container {
color: var(--font-color);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
}
.header {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  position: relative;
}
table{

  table-layout: auto;
  width: var(--width-complete);   
}
.container table th:nth-child(5),
.container table td:nth-child(4)  {
  width: 1%;
  white-space: nowrap;
}

.tablaPacientes {
  background: white;
  border-radius: var(--radius);
  border: 1px solid #eef1f6;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.06);
  width: var(--width-complete);
}

.tablaPacientes table {
  width: var(--width-complete);
  border-collapse: collapse;
  font-size: 14px;
  height: auto; 
  min-height: auto;
}

.tablaPacientes tbody tr {
  height: 2rem;
}

.tablaPacientes thead, .tablaPacientes thead th {
  color: white;
  font-weight: 600;
  padding: 12px;
  text-align: center;
  position: sticky;
  top: 0;
}
.tablaPacientes th {
  line-height: 1.2;
}

.tablaPacientes thead tr {
  height: 48px;
}


.tablaPacientes th,
.tablaPacientes td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #f1f1f1;
}
.tablaPacientes td {
  height: 40px;
  vertical-align: middle;
  border-bottom: 1px solid #eef1f6;
}


.tablaPacientes tbody tr {
  height: 50px;
}


.layout{
  width: var(--width-complete);
  display: flex;
  flex-direction: row;
  gap: 2rem;
  height: 100%;
}

.tablaPacientes td > * {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}


.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--width-complete);
  margin-bottom: 1.5rem;
}
.navCards {
display: flex;
  gap: 2rem;
  flex-direction: column;
  width: var(--width-third);
  align-items: center;
}
.containerCards{
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  height: 100%;
}




.tablaPacientes table {
  width: var(--width-complete);
  border-collapse: collapse;
  font-size: 14px;
}


.tablaPacientes thead {
  background: var(--naranja2);
}

.tablaPacientes thead th, .tablaPacientes thead {
  color: white;
  font-weight: 600;
  padding: 14px;
  text-align: center;
  position: sticky;
  top: 0;

}



.tablaPacientes td {
  padding: 12px;
  text-align: center;
  vertical-align: middle;
  color: #333;
}


.tablaPacientes th,
.tablaPacientes td {
  border-bottom: 1px solid #f1f1f1;
}


.tablaPacientes tbody tr:nth-child(even) {
  background: #faf5f6; 
}


.tablaPacientes tbody tr:hover {
  background: #FFE0BD;
  transition: 0.2s ease;
}


.tablaPacientes td > * {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}