.container{
    color: #333;
    margin: 0 0 5rem 0;
}
.nav{
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: white;
  padding: 16px;
  border-radius: var(--radius);
  border: 1px solid #eef1f6;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.06); 
}
.inputGroup{
    display: flex;
    flex-direction: column;
    width: 100%;
}