.container{
display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.container input{
  width: var(--width-half);
}
.nav{
  display: inline-flex;
  justify-content: space-between;
  width: var(--width-complete);
}
.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: white;
  padding: 16px;
  border-radius: var(--radius);
  border: 1px solid #eef1f6;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.06); 
}
.inputGroup{
    display: flex;
    flex-direction: column;
    width: var(--width-complete);
    gap: 0.5rem;
}
.testsGrid{
    display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.testsGrid label{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.9rem;
}
.warning {
  color: #d9534f;
  font-size: 0.9rem;
  margin-top: 10px;
}
.testsCheckboxes{
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  justify-content: center;
}
.testsCheckboxes label{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  
}