/* Base button styles */
.boton-base {
  font-weight: 700;
  font-size: 14px;
  padding: 10px 20px;
  border: none;
  border-radius: var(--radius);
  display: inline-block;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  min-width: 0;
  align-self: center;
  text-wrap: nowrap;
  border: 1px solid transparent;
  min-width: 120px;
  max-width: 100%;
  min-height: 50px;
  max-height: 50px;
}

/* Primary variant */
.boton-primary {
  background: linear-gradient(90deg,rgba(255, 176, 0, 1) 0%, rgba(255, 60, 42, 1) 50%);
    color: white;
    font-weight: var(--font-bold);
}


/* Secondary variant */
.boton-secondary {
  background-color: #35251c;
  cursor: pointer;
  transition: border-color 0.25s;
  color: var(--gris-bg);
}

.boton-secondary:hover {
  background-color: #900020;
}

/* Danger variant */
.boton-danger {
  background-color: #900020;
  color: white;
}

.boton-danger:hover {
  background-color: #bb2d3b;
}

/* Disabled state */
.boton-base:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
