/* Base button styles */
.boton-base {
cursor: pointer;
  border-radius: 45px;
  width: 100px;
  height: 45px;
  transition: .3s;
  width: 200px;
  white-space: nowrap;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Primary variant */
.boton-primary {
  background: linear-gradient(90deg,rgba(255, 176, 0, 1) 0%, rgba(255, 60, 42, 1) 50%);
    color: white;
    font-weight: var(--font-bold);
}


/* Secondary variant */
.boton-secondary {
  background-color: var(--marron);
  cursor: pointer;
  transition: border-color 0.25s;
  color: var(--gris-bg);
}

.boton-secondary:hover {
  background-color: #900020;
}

/* Danger variant */
.boton-danger {
  background-color: #900020;
  color: white;
}

.boton-danger:hover {
  background-color: #bb2d3b;
}

/* Disabled state */
.boton-base:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
