/* HeaderInfo.module.css */
.container {
display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 0.5rem;
}
.containerRow{
    width: var(--width-complete);
}

.topRow {
display: flex;
  align-items: center;
  color: var(--marron);
  font-weight: 600;
  font-size: 0.95rem;
}

.emoji {
  font-size: 1.2rem;
}

.bottomRow {
display: flex;
  align-items: inherit;
  gap: 5px;
  font-size: 0.85rem;
  font-weight: 500;
  flex-direction: row;
  justify-content: space-between;
}

.divider {
  color: var(--gris);
}
span{
    font-family: var(--font-family-body);
  font-size: var(--font-size-h2);
  text-transform: capitalize;
  font-weight: 20;
}