.container{
    color: #333;
}
.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 1.5rem;
}

.navButtons{
    display: flex;
    gap: 1rem;
}
.tablaPacientes {
  background: white;
  padding: 16px;
  border-radius: var(--radius);
  border: 1px solid #eef1f6;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.06); 
  text-align: justify;
  display: flex;
  flex-direction: column;
}

/* td:nth-child(4) > *, td:nth-child(3) > *{
  text-align: center;
  width: 100%;
}
 */
.descargar, .comentarios {
  text-align: center !important;
}

.descargar{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}