:root {
  color-scheme: light;
  color:  var(--font-color);
  background-color: f5f5f5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --radius: 8px;

  --naranja: #FFB000;
  --naranja2: #FF8800;
  --rojo: #FF3C2A;
  --gris-bg: #F5F6FA;
  --gris: #D8DCE3;
  --gris-med: #868B90;
  --gris-dark: #2C2C2C;
  --verde: #28C66F;
  --radius: 16px;
  --shadow: rgba(0,0,0,0.06) 0px 4px 14px;

  --beige: #f2e9e2;
  --bordo-light: #900020;
  --bordo: #6a040f;
  --marron: #35251c;

  --opuesto: #6933ff;
  --opuesto-light: #7c4dff;

  --font-size-regular: 1rem;
  --font-size-small: 0.75rem;
  --font-size-h1: 2rem;
  --font-size-h2: 1.5rem;
  --font-size-h3: 1.125rem;

  --font-color: #35251c;
  --font-family-body: "inter", sans-serif;
  --font-light: 300;
  --font-regular: 400;
  --font-bold: 700;

  --font-family-header: "Oswald", sans-serif;
  --font-extralight: 200;
  --font-light: 300;
  --font-regular: 400;
  --font-bold: 700;

  /* font-style: italic; */

}

a {
  font-weight: 500;
  text-decoration: inherit;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
  font-family: var(--font-family-body);
  overflow: hidden;
  background-color: #F7FBFF;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-header);
}

h4{
  margin-bottom: 0;
}


.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

button {
  border: none;
  cursor: pointer;
  border-radius: 45px;
  width: 100px;
  height: 45px;
  transition: 0.3s;
   width: 200px;           /* O el ancho que prefieras */
  white-space: nowrap;    /* Evita que las palabras se amontonen abajo */
  padding: 0 1rem;        /* Padding pequeño a los lados para respiro */
  display: flex;          /* Para centrar el texto perfectamente */
  justify-content: center;
  align-items: center;
}

button:hover {
  font-weight: var(--font-bold);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input, select, textarea, select {
background: transparent;
  border: none;
    border-bottom-width: medium;
    border-bottom-style: none;
    border-bottom-color: currentcolor;
  border-bottom-width: medium;
  border-bottom-style: none;
  border-bottom-color: currentcolor;
  padding: 0;
  height: 40px;
  border-bottom: 1px solid var(--naranja2);
  border-radius: 0;
  font-family: inherit;
}
input:focus,
textarea:focus,
select:focus {
  outline: none;
}
.card {
background: white;
  padding: 0 1.5rem;
  border-radius: var(--radius);
  width: 100%;
  border: 1px solid #eef1f6;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.06);
}
.scrollbar {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-color: #f2e9e2 #f1f1f1;
  scrollbar-width: thin;
  display: block;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
